/* You can add global styles to this file, and also import other style files */

.collapse{
    justify-content: space-between;
    background-color: rgba(46, 107, 230, 0.832);
    backdrop-filter: inherit;
    color: white;
}
.btn{
    background-color: #fff;
    color:  rgba(46, 107, 230, 0.832);
}

.tags{
    margin-bottom: 1rem;

}


.tag{
    margin-left: 5px;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgba(30, 150, 214, 0.585);
}
.form-inline{
    display: flex;
    gap: 3rem;
}

.music{
    margin: auto;  
}

.card{
    margin-block: 1rem;

}

.glyph-icon{
    max-width: 1.5%;
}